@font-face {
  font-family: 'Open Sans Condensed';
  src: url('./fonts/OpenSansCondensed-Light.ttf');
  src: url('./fonts/OpenSansCondensed-Light.ttf') format('truetype'), url('./fonts/OpenSansCondensed-LightItalic.ttf') format('truetype'), url('./fonts/OpenSansCondensed-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 20px 80px;
  font-family: 'Open Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}